1. NumPy Operations

In [3]:
import numpy as np

arr = np.array([1,2,3,4,5])

%timeit [item*2 for item in arr]
%timeit arr*2

2.75 μs ± 193 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)
1.9 μs ± 102 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

2. Dataset Loading

In [67]:
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv
import os

load_dotenv()

rootPath = Path(os.getenv('PROJECT_ROOT'))
filePath = rootPath / 'homework/data/starter_data.csv'
print()
df = pd.read_csv(filePath)

print(df.info)
print(df.head())

<bound method DataFrame.info of   category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05
5        C     30  2025-08-06
6        A     11  2025-08-07
7        B     14  2025-08-08
8        C     28  2025-08-09
9        A     13  2025-08-10>
  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05

3. Summary Statistics

In [11]:
df.describe()

           value
count  10.000000
mean   17.600000
std     7.381659
min    10.000000
25%    12.250000
50%    14.500000
75%    23.250000
max    30.000000

In [50]:
summary = df.groupby(['category']).describe()
summary

         value
         count       mean       std   min    25%   50%    75%   max
category
A          4.0  11.500000  1.290994  10.0  10.75  11.5  12.25  13.0
B          3.0  15.666667  2.081666  14.0  14.50  15.0  16.50  18.0
C          3.0  27.666667  2.516611  25.0  26.50  28.0  29.00  30.0

4. Save Outputs

In [52]:
try:
    Path.mkdir(rootPath / 'homework/data/processed/')
except FileExistsError:
    print('Directory probably already exists, continue')

summary.to_json(Path(rootPath) / 'homework/data/processed/summary.json')

Directory probably already exists, continue

5. Reusable Functions (Bonus)

In [70]:
import sys
utilsPath = os.getenv('UTILS_DIR')

sys.path.insert(1, utilsPath)

from utils import get_summary_stats

get_summary_stats(df)

         value
         count       mean       std   min    25%   50%    75%   max
category
A          4.0  11.500000  1.290994  10.0  10.75  11.5  12.25  13.0
B          3.0  15.666667  2.081666  14.0  14.50  15.0  16.50  18.0
C          3.0  27.666667  2.516611  25.0  26.50  28.0  29.00  30.0